.home {
    background-size: cover;
    background-image: url('../ryan-christodoulou-68CDDj03rks-unsplash.jpeg');
    background-repeat: repeat;
    margin: 0;
    width: 100%;
    height: 1800px;
    display: flex;
    flex-direction: column;
}
.containerNav{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 30px;
} 
.tittle{
    font-family: 'Arial';
      font-size:40px;
      color:rgb(67, 66, 66);
      justify-self: center;
      text-align: center;
  }
.linkCreate{
    margin-right: 10px;
  }
.select{
    font-size: 15px;
    font-family: 'Helvetica';
    word-spacing: -1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
.selectOption{
   border-radius: 6px;
   margin-left: 6px;
   width: 90px;
   height: 30px;
   border: 1px solid #686666;
 }
  .span{
    margin: 3px;
  }
  
.btnCreate {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #db8a5b 5%, #ca9b7c 100%);
    background-color:#aa856cd0;
    border-radius:6px;
    border:1px solid #aa856cd0;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a6646;
    width: 190px;
    
  }
  .btnCreate:hover {
    background:linear-gradient(to bottom, #dd915e 5%, #dba788 100%);
    background-color:#ecb088;
  }
.btnCreate:active {
    top:1px;
}
  
  
.showAll{
      box-shadow:inset 0px 1px 0px 0px #f5978e;
      background:linear-gradient(to bottom,  #db8a5b 5%, #ca9b7c 100%);
      background-color:#aa856cd0;
      border-radius:6px;
      border:1px solid #aa856cd0;
      display:flex;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #8a6646;
    }
.showAll:hover {
      background:linear-gradient(to bottom, #dd915e 5%, #dba788 100%);
      background-color:#ecb088;
    }
.showAll:active {
      top:1px;
}

.paginate {
      margin-bottom: 10px; 
}

  .cardsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards {
  display:flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; 
  width: 80%;
  align-items: center;
  margin-bottom: 30px;
}
    
.linkCard {
  text-decoration: none;
}
  
    