/*body {
    padding:0;
    margin:0;
    background-image: url('../IMG_0571.JPG');
    width: 100%;
    height:100%;
    position: absolute;
}*/

.landing {
    /*margin: 0;*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: absolute;
    top: 0;
    bottom: 0;*/
    background-image: url('../photo-1513135467880-6c41603bbb5b.avif');
    background-position: center;
    background-size: cover;
  }

  
  
  .landing h1 {
    /*position:absolute;
    top: 100px;
    left: 34%;*/
    color: rgba(245, 244, 239, 0.498);
    font-family: 'Helvetica';
    font-size: 65px;
    
  }
  /*.landing h1:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}*/
  
  .landing h4 {
    position:absolute;
    /*top:220px;
    left: 38%;*/
    color: rgba(250, 249, 249, 0.842);
    font-size: 20px;
    font-family: 'Helvetica';
    
  }
  
  
  
  .landing button {
    border: solid 2px transparent;
    border-radius: 100px;
    /*position: relative;
    top: 280px;
    left: 42%;*/
    width: 150px;
    height: 50px;
    background-color: rgb(230, 161, 64);
    transition: background-color 0.25s, color 0.25s;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Arial';
    color: rgb(62, 61, 61);
  }
  .landing button:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
  .landing button:hover {
    background-color: #ffffff9f;
    color: rgb(83, 82, 81);
  }
  
  
  
  .btnLan {
    text-decoration: rgb(93, 91, 91);

  }