.searchBar{
    border-radius: 6px;  
}

.input {
    width: 90px;
    height: 28px;
    border: 1px solid #686666;
    border-radius: 6px;
    font-size: 15px;
	margin-right: 5px ;
}

.input:focus {
    outline:#a2a2a2;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #db8a5b 5%, #ca9b7c 100%);
	background-color:#aa856cd0;
	border-radius:6px;
	border:1px solid #aa856cd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8a6646;
    width: 100px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dd915e 5%, #dba788 100%);
    background-color:#ecb088;
}
.myButton:active {
	position:relative;
	top:1px;
}
